header{
    margin-bottom: 32px;
}

.top-background {
    background-color: #232323;

}

.page-header {
    background-color: #2b2b2b;
}

.header-top{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 29px;
}

.header-phone a, .header-user a{
    color: #7f7f7f;
    text-decoration: none;
}

.header-phone, .header-user{
    padding-left: 14px;
    padding-top:7px;
    padding-right:17px;
    padding-bottom: 12px;
}


.register{
    padding-right: 7px;
    padding-left: 7px;
}

.logo-container{
    display: flex;
    justify-content: space-between;
    padding-right: 14px;
    padding-left: 14px;
}

.header-logo {
    display: block;
    text-align: center;
}

@media (max-width:510px) {
    .logo-container {
        flex-direction: column;
    }
    .header-logo{
        margin-bottom: 15px;
    }
}

.header-search {
    display: block;
    border: 1px solid #323232;
    box-sizing: border-box;
    height: 46px;
    border-radius: 26px 26px 26px 26px;
}

.header-search input {
    display:inline-block; /*для горизонтального позиціювання елемента*/
    vertical-align: middle;
    width: 220px;
    height: 44px;
    padding-left: 25px;
    border:none;
    box-sizing: border-box;
    background:none;
    font-family: 'Montserrat Light', sans-serif;
    font-weight:400;
    font-size: 13px;
    color: #ffffff;
}

.header-search button {
    width: 55px;
    height: 44px;
    display:inline-block;
    vertical-align: top;
    background: url("../images/icon-search.png") center center  no-repeat;
    border: none;
    float: right;
    padding-left: 25px;
}


.nav-container{
    display: flex;
    justify-content:space-between;
    position: relative;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 15px;

}

.header-nav ul{
    list-style: none;
    margin-left: -10px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height:1.1;
}

.header-nav ul li{
    display: inline-block;
}

.header-nav ul li+li{
    margin-left: 24px;
}


.header-nav ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #ffffff;
}

.header-nav a:hover, .header-nav .current a {
    color: #be926f;
}

@media (max-width:710px) {
    .header-nav ul li+li {
        margin-left: 10px;
    }
}

@media (max-width:645px) {
    .header-nav ul li+li {
        margin-left: 0;
    }
}

@media (max-width:590px) {
    .header-nav ul li{
        display: block;
    }
}

@media (max-width:510px) {
    .header-search input{
        width: calc(100% - 55px);
    }
}


.header-cart {
    position: relative;
    background: url("../images/icon-cart.png") center center no-repeat;
    width: 17px;
    height: 22px;
    padding: 10px;
    top: 22px;
    left: -2px;
}

.cart-count {
    color: #232323;
    font-size: 12px;
    background-color: #be926f;
    text-decoration: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    position: relative;
    top: -7px;
    right: -7px;
}


