.main-newsletter{
    display: flex;
}



.main-newsletter-column1{
    width: 565px;
    /*display: flex;*/
    /*align-content: center;*/
}

.main-newsletter-column2{
    width:635px;
}


.main-newsletter-column1 h5{
    text-transform: uppercase;
    font-size: 18px;
    line-height:1.333;
    padding-top: 4.5%;
    padding-left:2.14%;
    margin-bottom: 1px;
}

.main-newsletter-column1 p{
    margin: 0;
    padding-left:2.14%;
    padding-right:5.14%;
    font-size: 15px;
    line-height: 1.6;
}


.newsletter-form {
    display: flex;
    height: 180px;
    padding-left: 2.35%;
}

.newsletter-form input{
    width: 390px;
    height: 51px;
    box-sizing: border-box;
    padding-left:12px;
    margin-right:13px;
    align-self: center;
}
.newsletter-form button{
    background-image: url(../images/icon-newsletter-buttom.png);
    background-color: #f8f8f8;
    background-repeat: no-repeat;
    background-position: 19px 11px;
    width: 201px;
    height: 51px;
    border-color: #be926f;
    border-bottom-width: 1px;
    align-self: center;
    text-transform:uppercase;
    padding-left: 45px;
    letter-spacing: 1px;
}