@import url(header.css);

@import url(http://allfont.ru/allfont.css?fonts=montserrat-light);
@import url(https://fonts.googleapis.com/css?family=Montserrat);


.container{
    max-width: 1200px;
    padding: 0 15px;
    min-width: 320px;
    margin: 0  auto;

}

.montserrat{
    font-family: 'Montserrat', sans-serif;
}

.montserrat-bold{
    font-family: 'Montserrat Bold', sans-serif;
}

.montserrat-light{
    font-family: 'Montserrat Light', sans-serif;
}

